# Mac files
.DS_Store

# Dependency directories
/node_modules
/studio/node_modules
/web/node_modules

# Ignore hidden files as default
*.env
.prettierrc

web/public
# Local Netlify folder
.netlifys

# Local Netlify folder
.netlify

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Build directory
dist
